<% layout('layouts/boilerplate') %>
<body>
  <div class="container my-4">
    <h2>All Listings</h2>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
        
      <% for (let listing of data) { %>
        <div class="col">
          <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
            <div class="card h-100">
              <img src="<%= listing.image.url %>" class="card-img-top listing-img " alt="listing image" style="height: 20rem;">
             <div class="card-img-overlay"></div>
              <div class="card-body ">
                 <b class="card-title bold"><%= listing.title %></b> 
                <p class="card-text mb-1">Price: $<%= listing.price %></p>
                <p class="card-text">Location: <%= listing.location %></p>
              </div>
            </div>
          </a>
        </div>
      <% } %>
  
  </div>

</body>
</html>